<br />
<div class="booyah-box col-12">
	<h1>
		We are Team Finishers!
	</h1>
	<p>
		Welcome to our chess app. Chess me if you can!
	</p>

	<% if current_user %>
	<h2> Available Games: </h2>
	<ul>
	<% @games.each do |game| %>
		<% if game.black_player_user_id.nil? && game.white_player_user_id %>
				<li>Waiting for <b>black</b> to join... <%= link_to 'Join this game', join_as_black_game_path(game), method: :put %></li>
			<% elsif game.black_player_user_id && game.white_player_user_id.nil? %>			
				<li>Waiting for <b>white</b> to join... <%= link_to 'Join this game', join_as_white_game_path(game), method: :put %></li>
			<% else %>
				<li><%= link_to 'Join as black', join_as_black_game_path(game), method: :put %> <b>OR</b> <%= link_to 'Join as white', join_as_white_game_path(game), method: :put %></li>
		<% end %>
	<% end %>
	</ul>
	<% else %>
	<h2><%= link_to 'Log in to see available games!', new_user_session_path %></h2>
	<% end %>
</div>
