<h1>Welcome to the game</h1>

<script>

$( document ).ready(function() {
  console.log("Hello there");
  $( "#piece_Pawn" ).draggable();
  });

</script>

<div class="gameBoard">
  <table>
    <tbody>
      <% 8.times do |row| %>
        <tr>
          <% 8.times do |col|%>

            <% piece = @game.pieces.
              where(
              x_pos: row, 
              y_pos: col 
              ).first %>

            <% if (row+col) % 2 == 0 %>
              <td id="<%= piece ? "occupied" : "unoccupied" %>" class="whiteSquare"> <p id="<%= piece ? piece.type : "empty" %>"><%= piece ? piece.symbol : ""  %></p> </td>
            <% else %>
              <td id="<%= piece ? "occupied" : "unoccupied" %>" class="blackSquare"> <p id="<%= piece ? piece.type : "empty" %>"><%= piece ? piece.symbol : ""  %></p> </td>
            <% end %>        
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
