<div class="booyah-box col-12">
  <h1>Welcome to the game</h1>
  <%= link_to 'Forfeit?', game_path(@game), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>

  <div class="gameBoard">
    <table>
      <tbody>
        <% 8.times do |row| %>
          <tr>
            <% 8.times do |col|%>

              <% piece = @game.pieces.
                where(
                x_pos: row, 
                y_pos: col 
                ).first %>

              <% if (row+col) % 2 == 0 %>
                <td id="piece_<%= piece ? piece.type : "none" %>" class="whiteSquare"> <%= piece ? piece.symbol : ""  %> </td>
              <% else %>
                <td id="piece_<%= piece ? piece.type : "none" %>" class="blackSquare"> <%= piece ? piece.symbol : ""  %> </td>
              <% end %>    
                  
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="moveForm">
    <%= form_tag move_game_path do %>
      <%= hidden_field_tag "access_token", @access_token %>
      <%= number_field_tag "start_x", nil, class: "form-control", placeholder: "Starting X (Vertical)"%>
      <%= number_field_tag "start_y", nil, class: "form-control", placeholder: "Starting Y (Horizontal)" %>
      <%= number_field_tag "end_x", nil, class: "form-control", placeholder: "Ending X (Vertical)" %>
      <%= number_field_tag "end_y", nil, class: "form-control", placeholder: "Ending Y (Horizontal)" %>
      <%= submit_tag "Make a Move", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

