<script>
$( document ).ready( function () {
  var gameId = $( ".gameBoard" ).data( "id" );
  //Instantiate variables to hold pieces and unoccupied locations
  var $boardPieces = $( "td > p" ).filter(function( index ) {
      return $( this ).attr( "id" ) !== "empty";
    });
  var $allSquares = $( "td" );
  //Make pieces draggable
  $( $boardPieces ).draggable({
      revert: "invalid",
      containment: "table",
      cursor: "crosshair",
      start: function( event, ui ) {
          var $this = $( event.target );
          $.get( "/games/" + gameId + "/pieces/" + $this.data( "id" ) )
            .success( function ( data ) {
                console.log( data );
              });
      }
    });
  //Make empty squares droppable
  $( $allSquares ).droppable({
    tolerance: "intersect",
    accept: $boardPieces,
    drop: function( event, ui ) {
      var $this = $( this );
      ui.draggable.position ( {
        my: "center",
        at: "center",
        of: $this
      });
      var currentCol = $( ui.draggable ).parent();
      var currentRow = $( currentCol ).parent();
      var newCol = $( event.target );
      var newRow = $( newCol ).parent();
      var currentPiece = $( ui.draggable );
      //Update piece position
        $.post("/games/" + gameId + "/pieces/" + $( currentPiece ).data( "id") + "/move/", {
          _method: "PUT",     
            x_new: newRow.data( "id" ),
            y_new: newCol.data( "id" )          
        }).success( function( data ) {
          var oldRowID = $( currentRow ).data( "id" );
          var oldColID = $( currentCol ).data( "id" );
          var newRowID = $( newRow ).data( "id" );
          var newColID = $( newCol ).data( "id" );
          $( "tr[data-id=" + oldRowID + "] td:nth-child(" + (oldColID+1) + ")" )
            .attr("id", "unoccupied")
            .addClass( "ui-droppable");
          $( "tr[data-id=" + newRowID + "] td:nth-child(" + (newColID+1) + ")" )
            .attr("id", "occupied")
            .removeClass( "ui-droppable");
        }).fail( function() {
            alert( "Invalid move! Try again" );
            location.reload();
          });       
     } 
  });
});
</script>

<div class="booyah-box col-12">           
  <h1>Welcome to the game</h1>
  <%= link_to 'Forfeit?', game_path(@game), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
  <div class="gameBoard" data-id="<%= @game.id %>">
    <table>
      <tbody>
        <% 8.times do |row| %>
          <tr data-id="<%= row %>">
            <% 8.times do |col|%>

              <% piece = @game.pieces.
                where(
                x_pos: row, 
                y_pos: col 
                ).first %>

              <% if (row+col) % 2 == 0 %>
                  <% if piece %> 
                    <td id="occupied" class="whiteSquare" data-id="<%= col %>">
                      <p id="<%= piece ? piece.type + "_" + piece.piece_color : "" %>" data-id="<%= piece ? piece.id : "" %>"><%= piece ? piece.symbol : ""  %></p>
                    </td>
                  <% else %>
                    <td id="unoccupied" class="whiteSquare" data-id="<%= col %>"></td>
                  <% end %>
              <% else %>
                  <% if piece %> 
                    <td id="occupied" class="blackSquare" data-id="<%= col %>">
                      <p id="<%= piece ? piece.type + "_" + piece.piece_color : "" %>" data-id="<%= piece ? piece.id : "" %>"><%= piece ? piece.symbol : ""  %></p>
                    </td>
                  <% else %>
                    <td id="unoccupied" class="blackSquare" data-id="<%= col %>"></td>
                  <% end %>
              <% end %>        
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="moveForm">
    <%= form_tag move_game_piece_path(@game) do %>
      <%= hidden_field_tag "access_token", @access_token %>
      <%= number_field_tag "start_x", nil, class: "form-control", placeholder: "Starting X (Vertical)"%>
      <%= number_field_tag "start_y", nil, class: "form-control", placeholder: "Starting Y (Horizontal)" %>
      <%= number_field_tag "end_x", nil, class: "form-control", placeholder: "Ending X (Vertical)" %>
      <%= number_field_tag "end_y", nil, class: "form-control", placeholder: "Ending Y (Horizontal)" %>
      <%= submit_tag "Make a Move", class: "btn btn-danger" %>
    <% end %>
  </div>
</div> 
